[project]
name = "circulus"
requires-python = ">=3.12"
dependencies = [
    "numpy",
    "matplotlib",
    "ruff",
    "klujax>=0.4.3", "jax>=0.8.1,<0.9", "diffrax>=0.7.0,<0.8", "sax>=0.15.15,<0.16", 
]

[tool.pixi.workspace]
channels = ["conda-forge"]
platforms = ["linux-64", "win-64"]

[tool.pixi.pypi-dependencies]

[tool.pixi.tasks]
lint = "ruff lint"

[tool.pixi.feature.test.dependencies]
pytest = "*"

[tool.pixi.feature.test.tasks]
test = "pytest"

[tool.pixi.environments]
test = ["test"]

[tool.pixi.dependencies]
python = "==3.12"
matplotlib = ">=3.10.8,<4"
black = ">=25.12.0,<26"
ipykernel = ">=7.1.0,<8"
