name: Docs

on:
  push:
    branches: ["main"]
  workflow_dispatch:  # allows manual trigger from GitHub UI

permissions:
  contents: write   # needed to push to gh-pages branch

jobs:
  deploy:
    name: "docs / build + deploy"
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0   # mkdocs-material needs full history for git-revision-date

      - uses: prefix-dev/setup-pixi@v0.8.1
        with:
          pixi-version: latest
          environments: default
          cache: true

      - name: Copy readme
        run: pixi run copy_readme

      - name: Copy examples
        run: pixi run copy-examples

      - name: Install Jupyter kernel
        run: pixi run install_ipkernel

      - name: Deploy docs
        run: pixi run mkdocs gh-deploy --force
